@import 'tailwindcss';
@plugin '@tailwindcss/container-queries';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

/* @plugin "vidstack/tailwind.cjs"; */

@plugin 'vidstack/tailwind.cjs' {
	selector: '.media-player';
	prefix: 'media';
	webcomponents: true;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--color-black);
}
